
<a class="back" href="../">
  <img src="images/back-arrow.svg" title="Return to main page">
</a>
<img src="images/thunder-left.png" class="side">
<img src="images/webstatic.png" class="logo">
<img src="images/thunder-right.png" class="side">
<h3>Documentation</h3>

<style>

.docs-header{
  padding:5%;
  padding-bottom:10%;
  color:var(--white);
  text-align:center;
  position:relative;
  width:90%;
  left:0%;
  top:0%;
}
.logo{
  margin-right:2%;
  margin-left:2%;
  height:auto;
  width:70%;
}
.side{
  height:auto;
  width:8%;
}

.back{
  position:absolute;
  left:0;
  top:0;
}
.back img{
  transition:background-color 0.2s ease;
  background-color:var(--dkGray);
  border:solid 3px var(--dkGray);
  border-radius:50%;
  cursor:pointer;
  padding:10px;
  height:25px;
}
.back img:hover{
  background-color:var(--gray);
}

</style>
