<a href="https://github.com/alugocp/web-static">
  <img src="images/github.png" title="Github"></img>
</a>
<a href="http://alexlugo.net/webdesign">
  <img src="images/developer.png" title="Developer"></img>
</a>
<a href="https://www.npmjs.com/package/web-static">
  <img src="images/npm.png" title="npm"></img>
</a>

<style>

.footer{
  padding-bottom:50px;
  text-align:center;
}
a{
  text-decoration:none;
  margin-right:8%;
}
a:hover{
  text-decoration:none;
}
img{
  height:50px;
  width:auto;
}

</style>
